<html>
	<body>
    <h1>
		{{ .title }}
	</h1>
    <h2>List of Users</h2>
    <table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    {{ range .users }}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td>{{ .PhoneNumber }}</td>
    </tr>
    {{ end }}
    </table>
    </body>
</html>
